{% extends 'index.html' %}
{% load static %}


{% block title %}Settings | {{ block.super }}{% endblock %}

{% block header0 %}
{% endblock %}

{% block meta_description %}sharing your internet portfolio, The simplest way.{% endblock %}

{% block meta_author %}Ali Khundmiri{% endblock %}

{% block content_1 %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5"><i class="fas fa-cogs"></i> Settings</h1>
			
			<br>
			<br>
			<br>
			<div class="col-lg-12">
				
				<a class="float-right" href="{% url 'user:first_last_name' request.user.username %}"><i class="far fa-edit"></i> edit</a>			
				<h4 class="float-left"><i class="fas fa-user"></i> User Details</h4>
			</div>
			<!-- table for user detail -->
			<table class="table table-hover">
				<tbody>
					<tr>
						<th scope="row"><i class="fas fa-at"></i> Email address</th>
						<td>{{request.user.email}}</td>
					</tr>
					<tr>
						<th scope="row"><i class="fas fa-address-card"></i> First Name</th>
						<td>{% if request.user.first_name %}{{request.user.first_name}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
					<tr>
						<th scope="row"><i class="fas fa-address-card"></i> Last Name</th>
						<td>{% if request.user.last_name %}{{request.user.last_name}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
				</tbody>
			</table>

			<br>
			<br>
			<br>
			<div class="col-lg-12">
				<a href="{% url 'user:edit_bio' request.user.username %}" class="float-right"><i class="far fa-edit"></i> edit</a>
				<h4 class="float-left"><i class="fas fa-database"></i> Profile Information</h4>
			</div>
			<!-- Table for user bio -->
			<br>
			{% if request.user.Profile.avatar.url %}
			<img src="{{ request.user.Profile.avatar.url }}" class="img-responsive" alt="profile picture of {% if user.get_full_name %}{{user.first_name}} {{user.last_name}} with username: {{user.username}}{% else %}username: {{user.username}}{% endif %}" style="width:100px; height: 100px">
			{% endif %}
			<br>
			<table class="table table-hover">
				<tbody>
					<tr>
						<th scope="row"><i class="fas fa-briefcase"></i> Profession</th>
						<td>{% if request.user.profile.profession %}{{request.user.profile.profession}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
					<tr>
						<th scope="row"><i class="fas fa-book"></i> Bio</th>
						<td>{% if request.user.profile.bio %}{{request.user.profile.bio}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
					<tr>
						<th scope="row"><i class="fas fa-handshake"></i> Hire me if you want</th>
						<td>{% if request.user.profile.hire_me_if_want %}{{request.user.profile.hire_me_if_want}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
					<tr>
						<th scope="row"><i class="fas fa-binoculars"></i> I am looking for</th>
						<td>{% if request.user.profile.looking_for %}{{request.user.profile.looking_for}}{% else %}<i>add now</i>{% endif %}</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>
{% endblock %}
