{% extends 'index.html' %}
{% load static %}


{% block title %}{{request.user.username}}'s Stats | {{ block.super }}{% endblock %}

{% block header0 %}
<style type="text/css">
.user-square{
	background: lightgreen;
	border-radius: 15px;
	color: white;
	margin: 10px;
	padding: 10px;
}
</style>
{% endblock %}

{% block meta_description %}sharing your internet portfolio, The simplest way.{% endblock %}

{% block meta_author %}Ali Khundmiri{% endblock %}






{% block content_1 %}
<div class="container">
	<div class="row">
		{% include 'core/link_count_snippet.html' %}
	</div>
</div>
{% endblock %}
