{% extends 'index.html' %}
{% load static %}


{% block title %} {% if user.get_full_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}'s profile on {{ block.super }}{% endblock %}

{% block header0 %}
<style type="text/css">

.user-details{
	padding: 15px;
	background: #73FFCB;
	padding-top: 15px;
	border-radius: 10px;
}

.user-specialties{
	padding: 5px;
	background: #6BFFC8;
	border-radius: 10px;
	min-height: 10px;
	box-shadow: 0px 10px 20px #2BFFB1;
}

.contact_button{
	color: gray;
}

.contact_button:hover {
	color: #122C34;
}

.product-list {
	margin-top: 5px;
	min-height: 10px;
	border-radius: 5px;
	padding: 10px 0px 10px 20px;
}

.product-item{
	background: #D15959;
	text-align: left;
}

.product-item-private{
	background: #F99393;
	text-align: left;
}

.links-section{
	padding: 10px 0px 10px 0px;

}

.product-add-new{
	background: green;
}

.product-empty{
	background: pink;
}

.product-empty p{
	color: white;
}
.product-add-new a{
	color: white;
	font-size: 20px
}


.product-item a{
	color: white;
}
.product-item p{
	color: white;
}
.product-item h3{
	color: white;
}


.product-item-private a{
	color: #DDDDDD;
}
.product-item-private p{
	color: #DDDDDD;
}
.product-item-private h3{
	color: #DDDDDD;
}

</style>
{% endblock %}

{% block meta_description %}{% if user.profile.profession %}{{user.profile.profession }}{% else %}Internet Business card available for online reference and sharing many links to your projects, stored else where on the internet!.{% endif %}{% endblock %}

{% block meta_author %}{{user.username}}{% endblock %}

{% block other_meta %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@newlifeshoes" />
	<meta name="twitter:creator" content="@{{user.username}}" />
	<meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<meta property="og:title" content="{% if user.get_full_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}'s Portfolio on Afiio.com" />
	<meta property="og:description" content="{{user.profile.bio|truncatechars:100}}" />
	<meta property="og:image" content="https://side-projects.s3.amazonaws.com/afiio/static/images/Afiio_logo.png" />
{% endblock %}



{% block content_1 %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="row user-details">
				<div class="col-lg">
					{% if request.user.username == user.username %}
					<a class="float-right" href="{% url 'user:edit_bio' request.user.username %}">
						<i class="far fa-edit"></i> Edit
					</a>
					<br>
					{% endif %}
					{% if user.profile.avatar %}
					<img src="{{ user.profile.avatar.url }}" class="img-responsive" alt="profile picture of {% if user.get_full_name %}{{user.first_name}}{{user.last_name}} with username: {{user.username}}.{% else %}username: {{user.username}}{% endif %}" style="width:100px; height: 100px">

					<br>
					{% endif %}
					<h2>
						{% if user.get_full_name %}
						{{user.first_name}} <b>{{user.last_name}}</b>
						{% else %}
						<i>@{{user.username}}</i>
						{% endif %}
						{% if user.profile.paid_user %}
						<sup>
							<span class="fa-layers fa-fw">
								<i class="fas fa-certificate"></i>
								<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900">PRO</span>
							</span>
						</sup>
						{% endif %}
					</h2>
					
					{% if user.profile.profession %}
					<span class="text-muted">
						<p class="mute">{{user.profile.profession }}</p>
					</span>
					{% endif %}
					{% if user.profile.bio %}
					<p class="lead">{{user.profile.bio|linebreaks}}</p>
					{% endif %}
					<!-- <p class="lead">Facebook | Instagram | Twitter </p> -->
					<div class="row user-specialties">
						
						{% if user.profile.hire_me_if_want %}
						<div class="col-lg col-md">
							<p>
								<b>Hire me if you want:</b><br>
								{{user.profile.hire_me_if_want}}
							</p>
						</div>
						{% endif %}

						{% if user.profile.looking_for %}
						<div class="col-lg col-md">
							<p>
								<b>I am looking for:</b><br>
								{{user.profile.looking_for}}
							</p>
						</div>
						{% endif %}
						{% if user.email %}
						<div class="col-lg-12 col-md-12">
							<a class="contact_button" href="mailto:{{user.email}}?Subject=Hello%20{% if user.get_full_name %}{{user.first_name}}%20{{user.last_name}}{% else %}{{user.username}}{% endif %},%20we%20saw%20your%20profile%20on%20Afiio.com.%20"><i class="far fa-envelope"></i> contact</a>
							 <!-- | 
							<a href=""><i class="fab fa-twitter"></i> Share on Twitter</a> -->
						</div>
						{% endif %}
					</div>

				</div>
			</div>
			{% if request.user.username == user.username %}
			<div class="row">
				<div class="col-lg product-list product-add-new">
					<a href="{% url 'user:create_product' request.user.username %}"><i class="fas fa-link"></i> Add new Link</a>
				</div>
			</div>
			{% endif %}


			{% for product in products %}

			<div class="row">
				<div class="col-lg product-list {% if product.public_display %}product-item{% else %}product-item-private{% endif %}">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-9">
							<h3><a href="{{ product.website }}" target="_blank">{{ product.product_name }}</a></h3>
							{% if product.product_description %}
							<p>{{ product.product_description|linebreaks }}</p>
							{% endif %}
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 links-section">

							<a href="{{ product.website }}" class="btn btn-sm btn-danger">
								link
							</a>
							{% if request.user.username == user.username %}
							<a href="{{ product.get_editable_url }}" class="btn btn-sm btn-dark">
								edit
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% empty %}
			<div class="row">
				<div class="col-lg product-list product-empty">
					<p>No Products yet</p>
				</div>
			</div>
			{% endfor %}


			{% comment "Views are not working properly" %}

			<!-- COMPLETE VIEW FOR THE NEW UI -->
<!-- 
		{% for cat in all_category %}
		{% with products=cat.type_category.all %}
		{% if products|length >= 1 %}
		<h5>{{cat.category_name}}</h5>
		{% for product in products %}

		<div class="row">
			<div class="col-lg product-list {% if product.public_display %}product-item{% else %}product-item-private{% endif %}">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<h3><a href="{{ product.website }}" target="_blank">{{ product.product_name }}</a></h3>
						{% if product.product_description %}
						<p>{{ product.product_description|linebreaks }}</p>
						{% endif %}
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 links-section">

						<a href="{{ product.website }}" class="btn btn-sm btn-danger">
							link
						</a>
						{% if request.user.username == user.username %}
						<a href="{{ product.get_editable_url }}" class="btn btn-sm btn-dark">
							edit
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% empty %}
		<div class="row">
			<div class="col-lg product-list product-empty">
				<p>No Products yet</p>
			</div>
		</div>			
		{% endfor %}

		{% endif %}
		<br>
		{% endwith %}
		{% endfor %}
		
		{% if product_exclude %}
		<h5>General</h5>

		{% for product in product_exclude %}
		excluded
		<div class="row">
			<div class="col-lg product-list {% if product.public_display %}product-item{% else %}product-item-private{% endif %}">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<h3><a href="{{ product.website }}" target="_blank">{{ product.product_name }}</a></h3>
						{% if product.product_description %}
						<p>{{ product.product_description|linebreaks }}</p>
						{% endif %}
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 links-section">

						<a href="{{ product.website }}" class="btn btn-sm btn-danger">
							link
						</a>
						{% if request.user.username == user.username %}
						<a href="{{ product.get_editable_url }}" class="btn btn-sm btn-dark">
							edit
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% empty %}
		<div class="row">
			<div class="col-lg product-list product-empty">
				<p>No Products yet</p>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	-->


	<!-- BARE BONES CODE FOR NEW UI -->
<!-- {% for cat in all_category %}
    {% with products=cat.type_category.all %}
        <h5>{{cat.category_name}}</h5>
        {% if products|length %}
            {% for pro in products %}
                <p>{{ pro }}</p>
            {% endfor %}
        {% else %}
        <p>Empty :(</p>    
        {% endif %}
        <br>
    {% endwith %}
{% endfor %}
{% for pro in product_exclude %}
    <p>{{ pro }}</p>
    {% endfor %} -->
    {% endcomment %}

</div>
</div>
</div>
{% if not request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<p class="lead">Like this? <a href="{% url 'register' %}">Make your own</a></p>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
