{% extends 'index.html' %}
{% load static %}


{% block title %}About | {{ block.super }}{% endblock %}

{% block header0 %}
{% endblock %}

{% block meta_description %}This website was created by Ali Khundmiri, who wanted a place to store all the projects he has done, specially built to showcase it all to the world. {% endblock %}

{% block meta_author %}Ali Khundmiri{% endblock %}

{% block content_2 %}
<section style="height: 100%">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img src="{% static 'images/Afiio_logo.png' %}" class="responsive" alt="Afiio logo on landing page. Created By Ali Khundmiri" style="width:250px; height: 250px">
				<!-- <h1 class="mt-5">Afiio</h1> -->
				<p class="lead">Your Products, Portfolio, Social Account, and links<br>Convenient for you to share from one place!</p>
				<ul class="list-unstyled">
					<li>Limit time Free Registration</li>
					<li>For the purpose of Alpha testing</li>
				</ul>
			</div>
			<div class="col-3 text-center">
			</div>
		</div>
	</div>
</section>

<section style="height: 100%">
	{% include 'content_about.html' %}
</section>

<section style="height: 100%">
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Pricing</h1>
		<p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
	</div>

	{% include "content_pricing.html" %}
</section>
{% endblock %}
