<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">What is Afiio?</h1>
			<p class="lead">It is your business card, online.</p>
			<p class="lead">
				The Bio of your social media profile like twitter and reddit, is sometimes not enough to hold all the awesome things you've built. 
				<br>
				A point comes where you have to choose which 3 or 4 websites you will mention on your bio description.
				<br>
				With the help of this website, you dont have to choose which website you want to showoff. You can show off all your website on this website and put your account's link on the description.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">Why is this not free?</h1>
			<p class="lead">Because everything that's not free, doesnt last. Also this being my fulltime job, I need to monetise my websites. The alternative to advertisment is payment from users. <br>Besides I am not asking much. Just to the amount sufficient enough to keep this service alive.</p>
		</div>
	</div>
</div>