<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">One Month</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$2.99</h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Best for trying out the website</li>
					<li>Unlimited Links</li>
					<li>Launching soon</li>					
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary" disabled>Signup</button>
			</div>
		</div>
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Monthly Subscription</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$2.99 <small class="text-muted">/ mo</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Best for using long term</li>
					<li>Unlimited Links</li>
					<li>Launching soon</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary" disabled>Signup</button>
			</div>
		</div>
		<div class="card mb-4 box-shadow hidden">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Alpha Testing</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">Free</h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Limited Seats</li>
					<li>Available only Testing Users</li>
					<li>Unlimited Links</li>
				</ul>
				<a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'register' %}">Signup</a>
			</div>
		</div>
	</div>
</div>