<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">What is Afiio?</h1>
			<p class="lead">It is your business card, online.</p>
			<p class="">
				The Bio of your social media profile like twitter and reddit, is sometimes not enough to hold all the awesome things you've built. 
				<br>
				A point comes where you have to choose which 3 or 4 projects you will mention on your bio description.
				<br>
				With the help of Afiio, you don't have to choose which of your work you want to showcase. You can post all your projects' details here, and paste your account's link on your social media description.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">Where is Afiio useful?</h1>
			<ul>
				<li><p>When you are trying to get new clients, and you want to show then your previous websites.</p></li>	
				<li><p>When you have a website running successfully, and now you want to divert this traffic to your other website</p></li>
				<li><p>When you are a solo bootstrapper!</p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">Can I see any demo Profiles?</h1>
			<p class="lead">Sure!</p>
			<p class="">The profiles listed below are profiles of actual users!</p>
			<ul>
				<li><a href="/@ali" target="_blank">Ali Khundmiri</a></li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">Where can I keep up with progress on Afiio?</h1>
			<p class="lead">Twitter handle: <a href="https://twitter.com/newlifeshoes">newlifeshoes <i class="fab fa-twitter" aria-hidden="true"></i></a></p>
			<p class="">You can find me on twitter where I tweet regularly about progress of Afiio and other websites I made.<br>
				If you are interested in Afiio, tweet me and let me know, we can talk about it!
			</p>
			<p>
				You can show your support by
				<a class="twitter-share-button"
				href="https://twitter.com/share"
				data-size="large"
				data-text="Check out Afiio.com! the simplest portfolio website for indie hackers!"
				data-url="afiio.com"
				data-hashtags="Afiio,IndieHackers"
				data-via="NewLifeShoes"
				data-related="SyedAliAK, NewLifeShoes">tweeting</a>
				about us!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">Why is this not free?</h1>
			<p class="lead">Because everything that's free, doesn't last.</p>
			<p class="">
				I want my services to last as long as possible. And also this being my fulltime job, I need to monetise my websites. The alternative to advertisment is payment from users. 
				<br>
				Besides I am not asking much. Just to the amount sufficient enough to keep this service alive, without disturbing your experience of this website.
			</p>
			<p>Here's a helpful chart <i>from Pieter's website</i> to drive my point home:</p>

			<div class="row justify-content-md-center justify-content-lg-center">
				<div class="col-lg-6 col-md-8 col-sm-12">	
					<table class="table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Free</th>
								<th scope="col">Paid</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Stagnant</th>
								<td style="background:#fee" >losing money</td>
								<td style="background:#efe" >making money</td>
							</tr>
							<tr>
								<th scope="row">Growing</th>
								<td style="background:#fcc" >losing more money</td>
								<td style="background:#cfc" >making more money</td>
							</tr>
							<tr>
								<th scope="row">Exploding</th>
								<td style="background:#faa" >losing lots of money</td>
								<td style="background:#afa" >making lots of money</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="mt-5">But isn't Afiio free right now?</h1>
			<p class="lead">Yes, because Afiio is currently in testing mode!</p>
			<p class="">To evaluate the market and collect user perferences & requests, Afiio is currently free!
			</p>
			<br>
			<p><b>That is completely opposite to what you said just now! how do you justify that?</b></p>
			<p>I can't charge users for the first ever product I made! I am proving that I can make reliable products to make a place for myself in tech world</p>
			<br>
			<p><b>If I register now for free, will you impose heavy charges suddenly out of no where?</b></p>
			<p>I don't intend to cheat you. You are valuable to me for signing up early on Afiio. I will make sure you don't feel cheated in the future when I start charging.</p>
			<p>As of now, users registering now for free will be given free usage of Afiio for a few months, after the pricing period starts!</p>
		</div>
	</div>	
</div>