{% extends 'index.html' %}
{% load static %}


{% block title %}Page | {{ block.super }}{% endblock %}

{% block header0 %}
{% endblock %}

{% block meta_description %}sharing your internet portfolio, The simplest way.{% endblock %}

{% block meta_author %}Ali Khundmiri{% endblock %}

{% block content_1 %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">Afiio</h1>
				<p class="lead">Your Products, Your Social, You link<br>All in one place!</p>
				<ul class="list-unstyled">
					<li>Free upto 3 links</li>
					<li>Register Now</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
