	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="{% url 'user:index' %}">Afiio<sup style="color: red">alpha <sup style="color: red">test</sup></sup></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					{% if request.user.is_authenticated %}
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-plus"></i> Create
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'user:create_product' request.user.username %}">
								<i class="fas fa-link"></i> Link
							</a>
							<!-- href="{% url 'user:create_category' request.user.username %}" -->
							<a class="dropdown-item disabled" >
								<i class="fas fa-anchor"></i> Category
								<sup>
									<span class="badge badge-success">
										Coming Soon!
									</span>
								</sup>
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i> Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{% url 'settings' %}"><i class="fas fa-cogs"></i> Settings
								<sup>
									<span class="badge badge-info">
										New!
									</span>
								</sup>
							</a>
							<a class="dropdown-item disabled" href="#">Social Media
								<sup>
									<span class="badge badge-success">
										<i class="fas fa-plus"></i> Coming Soon!
									</span>
								</sup>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item disabled" href="#">Social Integrations
								<sup>
									<span class="badge badge-success">
										<i class="fas fa-plus"></i> Coming Soon!
									</span>
								</sup>
							</a>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>

					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'price' %}"><i class="fas fa-dollar-sign"></i> Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
