{% extends 'index.html' %}
{% load static %}


{% block title %}Page | {{ block.super }}{% endblock %}

{% block header0 %}
<link href="{% static 'pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}Pricing details about this website. Nothing here is free, but I try to keep this place adverts free.{% endblock %}

{% block meta_author %}Ali Khundmiri{% endblock %}

{% block content_2 %}
<!-- Custom styles for this template -->

{% include 'content_pricing.html' %}

{% endblock %}
{% block post_footer %}

<script>
	Holder.addTheme('thumb', {
		bg: '#55595c',
		fg: '#eceeef',
		text: 'Thumbnail'
	});
</script>
{% endblock %}
